# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env

# Sherpa-ONNX model files and libraries
android/app/src/main/assets/sherpa/
android/app/sherpa-onnx-libs/

# 模型文件不打包进应用，用户需要在线下载
assets/models/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/
assets/models/sherpa-onnx-streaming-zipformer-small-ctc-zh-2025-04-01/
assets/models/
